body{
  margin:0;
  padding:0;
}

/* figura izquierda */
body::before{
  content:"";
  position:fixed;
  left:0;
  top:0;
  width:300px;   /* ancho de la figura (más angosta) */
  height:100vh;
  background-image:url("images/microscopic-pathogens.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  z-index:-1;
}

/* contenido */
.main-container{
  max-width:720px;
  margin-left:300px;   /* igual que el width */
  padding-left:20px;   /* pequeño espacio */
}