.main-container {
  max-width: 1200px;
}

.navbar {
  font-size: 16px;
}

body {
  font-size: 18px;
}


body {
  background-image: url("images/microscopic-pathogens.jpg");
  background-repeat: repeat-y;
  background-position: left top;
  background-size: 320px auto;
}


.main-container {
  max-width: 450px;
  margin-left: 250px;
  margin-right: auto;
}
}